* {
  margin: 0px;
  padding: 0px;
  font-style: italic;
}

/*/ Menu /*/

body {
  background-color: aliceblue;
  width: 100%;
  display: flex;
}

header {
  display: flex;
  flex-direction: column;
  width: 20%;
  background-color: rgb(212, 177, 245);
  height: 300vh;
}

.burger {
  margin-left: 50px;
  display: none;
}

header .logo {
  font-size: 35px;
  color: black;
  text-align: center;
  margin-top: 30px;
  font-weight: bolder;
  padding: 20px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 20px;
  background-color: white;
  transition: 0.5s;
}

header .logo:hover {
  transform: rotate(5deg);
  background-color: aliceblue;
}

header .menu {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 30px;
}

header a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-bottom: 30px;
  transition: 0.5s;
}

header a:hover {
  transform: scale(1.2);
}

/*/ Partie pour ayan /*/

#Homepage .first h1 {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
  font-size: 50px;
  color: blueviolet;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
}

#Homepage h2 {
  font-size: 30px;
  color: rgb(212, 177, 245);
  padding-left: 30px;
  margin-top: 30px;
}

.person {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  background-color: white;
  padding: 30px;
  margin-left: 30px;
  margin-top: 30px;
  border-radius: 20px;
}

.person h3 {
  color: rgb(13, 66, 116);
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
}

span {
  color: rgb(247, 239, 239);
  margin-bottom: 20px;
  font-size: 50px;
}

.person img:hover {
  transform: rotate(2deg);
}

.two {
  margin-top: 50px;
}

.person1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: rgb(90, 90, 248);
  padding: 20px;
  border-radius: 20px;
}

.person2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #a66dd4;
  padding: 20px;
  border-radius: 20px;
  transition: 0.6s;
}

.person2:hover {
  background-color: rgb(90, 90, 248);
}

.person3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: rgb(125, 211, 245);
  padding: 20px;
  border-radius: 20px;
  transition: 0.6s;
}
.person3:hover {
  background-color: rgb(90, 90, 248);
}

.person4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: rgb(123, 228, 123);
  padding: 20px;
  border-radius: 20px;
  transition: 0.6s;
}
.person4:hover {
  background-color: rgb(90, 90, 248);
}

.one {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.years {
  background-color: white;
  margin-left: 30px;
  margin-top: 50px;
  width: 300px;
  height: 450px;
  text-align: center;
  border-radius: 20px;
}

.year1 {
  border-bottom: 1px solid grey;
  margin-bottom: 10px;
  padding-bottom: 20px;
  transition: 0.8s;
}

.year1:hover {
  background-image: url("./Assets/stylist.jpg=ws1280x960");
  background-repeat: no-repeat;
  background-position: center;
}

.year2 {
  border-bottom: 1px solid grey;
  margin-bottom: 10px;
  padding-bottom: 20px;
}

.year2:hover {
  background-image: url("./Assets/hair.jfif");
  background-repeat: no-repeat;
  background-position: center;
}

.year3 {
  border-bottom: 1px solid grey;
  margin-bottom: 10px;
  padding-bottom: 20px;
}

.year3:hover {
  background-image: url("./Assets/happy\ client.webp");
  background-repeat: no-repeat;
  background-size: 300px;
  background-position: center;
}

.year4 {
  margin-bottom: 10px;
  padding-bottom: 20px;
}

.year4:hover {
  background-image: url("./Assets/hair\ categories.webp");
  background-repeat: no-repeat;
  background-position: 10px;
}
.years .un {
  color: rgb(212, 177, 245);
}

.years .un:hover {
  color: white;
}

.years h4 {
  color: gray;
  font-size: 20px;
}

.years h4:hover {
  color: white;
}

#revenu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  background-color: white;
  margin-top: 50px;
  margin-left: 30px;
  padding: 20px;
  border-radius: 20px;
}

.revenu1 {
  background-color: rgb(90, 90, 248);
  border-radius: 20px;
  text-align: center;
  padding: 10px;
  transition: 0.5s;
}

.revenu1:hover {
  transform: scale(1.1);
}

.revenu2 {
  background-color: #a66dd4;
  border-radius: 20px;
  text-align: center;
  padding: 10px;
  transition: 0.5s;
}

.revenu2:hover {
  transform: scale(1.1);
}

.revenu3 {
  background-color: rgb(90, 90, 248);
  border-radius: 20px;
  text-align: center;
  padding: 10px;
  transition: 0.5s;
}

.revenu3:hover {
  transform: scale(1.1);
}
.revenu4 {
  background-color: #a66dd4;
  border-radius: 20px;
  text-align: center;
  padding: 10px;
  transition: 0.5s;
}

.revenu4:hover {
  transform: scale(1.1);
}

.income {
  font-size: 40px;
}

#revenu h5 {
  font-size: 18px;
  color: rgb(212, 203, 203);
}

table {
  margin-left: 30px;
  margin-top: 30px;
  border: 1px solid #a66dd4;
  border-collapse: collapse;
}

thead {
  background-color: #a66dd4;
  color: white;
}

th {
  padding: 20px;
  text-align: center;
}

td {
  padding: 20px;
  text-align: center;
  color: rgb(95, 94, 94);
  font-size: 14px;
}

.ic1 {
  color: green;
  font-size: 20px;
}

.ic2 {
  color: red;
  font-size: 20px;
}

.ico3 {
  color: rgb(90, 90, 248);
  font-size: 20px;
}
.last {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 20px;
}

.activity {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
}

.activity p {
  color: grey;
  font-size: 15px;
}

.activity h3 {
  font-size: 20px;
  color: rgb(123, 228, 123);
  margin-top: 30px;
  margin-bottom: 10px;
}

.activity h1 {
  font-size: 28px;
  color: rgb(125, 211, 245);
}

@media screen and (max-width: 1000px) {
  .burger {
    margin-left: 10px;
    margin-top: 40px;
    display: block;
  }

  .logo {
    display: none;
  }

  header .menu {
    display: none;
  }

  header {
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: rgb(212, 177, 245);
    height: 400vh;
  }
}

@media screen and (max-width: 751px) {
  .last {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .person {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  header {
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: rgb(212, 177, 245);
    height: 650vh;
  }
}

@media screen and (max-width: 500px) {
  .one {
    display: flex;
    flex-direction: column;
  }

  #revenu {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  header {
    display: none;
    flex-direction: column;
    width: 20%;
    background-color: rgb(212, 177, 245);
    height: 800vh;
  }
}

/*/ Partie pour assia /*/

.title h1 {
  text-align: center;
}

/*/ Partie pour Nagad /*/

.Bloc {
  background: white;
  margin: 30px;
  width: 80%;
  height: 120vh;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.salon {
  display: flex;
  flex-direction: column;
  background: rgb(90, 90, 248);
  color: white;
  padding: 20px;
}
.logos {
  font-size: 30px;
  font-weight: bold;
  color: rgb(225, 233, 122);
}

.top {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #f8f8f8;
}
.recherche input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 310px;
}

.titre {
  font-size: 25px;
  font-weight: bolder;
  padding: 10px;
}
.butto button {
  padding: 12px;
  border: none;
  border-radius: 10px;
  margin-left: 8px;
  cursor: pointer;
}
.btn_ajouter {
  background: rgb(247, 142, 247);
  color: rgb(2, 2, 2);
  padding: 12px;
  font-size: 15px;
  font-weight: bolder;
  text-transform: uppercase;
}

table {
  width: 90%;
  border-collapse: collapse;
  padding: 20px;
}
th {
  padding: 12px 15px;
  text-align: left;
  text-transform: uppercase;
  font-weight: bolder;
}
td {
  padding: 12px 15px;
  text-align: left;
}
th {
  background: rgb(247, 142, 247);
  letter-spacing: 1px;
}
tr:nth-child(even) {
  background: #fafafa;
}

.statuactif {
  padding: 4px 8px;
  border-radius: 20px;
  color: white;
  font-size: 15px;
  background: rgb(128, 243, 128);
  font-weight: bolder;
}

.statuinactif {
  padding: 4px 8px;
  border-radius: 20px;
  color: white;
  font-size: 15px;
  background: rgb(90, 90, 248);
  font-weight: bolder;
}
.statunouveau {
  padding: 4px 8px;
  border-radius: 20px;
  color: white;
  font-size: 15px;
  background: rgb(225, 233, 122);
  font-weight: bolder;
}

.statuadmin {
  padding: 4px 8px;
  border-radius: 20px;
  color: white;
  font-size: 15px;
  background: rgb(247, 142, 247);
  font-weight: bolder;
}

.actions button {
  border: none;
  padding: 6px 8px;
  margin-right: 20px;
  border-radius: 6px;
  cursor: pointer;
}
.edit {
  background: rgb(90, 90, 248);
}
.delete {
  background: rgb(225, 233, 122);
}

.decor {
  padding: 15px;
  text-align: center;
}
.decor button {
  margin: 0 4px;
  padding: 6px 10px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}
.page {
  background: rgb(247, 142, 247);
  color: white;
}

/* @media (max-width: 764px) {
  table {
    flex-direction: column;
  }
} */
